[submodule "luci-theme-argon"]
	path = luci-theme-argon
	url = https://github.com/DongyangHu/luci-theme-argon
[submodule "luci-app-argon-config"]
	path = luci-app-argon-config
	url = https://github.com/DongyangHu/luci-app-argon-config
[submodule "luci-app-openclash"]
	path = luci-app-openclash
	url = https://github.com/DongyangHu/luci-app-openclash
[submodule "openwrt-frp"]
	path = openwrt-frp
	url = https://github.com/DongyangHu/openwrt-frp
[submodule "luci-app-frpc"]
	path = luci-app-frpc
	url = https://github.com/DongyangHu/luci-app-frpc
