[submodule "luci-theme-argon"]
	path = luci-theme-argon
	url = https://github.com/DongyangHu/luci-theme-argon
[submodule "luci-app-argon-config"]
	path = luci-app-argon-config
	url = https://github.com/DongyangHu/luci-app-argon-config
[submodule "luci-app-openclash"]
	path = luci-app-openclash
	url = https://github.com/DongyangHu/luci-app-openclash
[submodule "luci-app-poweroff"]
	path = luci-app-poweroff
	url = https://github.com/DongyangHu/luci-app-poweroff
